<!DOCTYPE html>
<html>
    <head>
      <title>PDX Fun!</title>
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="portland, inflatables, local, party, gear">
      <link rel="shortcut icon" href="assets/img/pdxfun_logo.png">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" type="text/css" />
      <link rel="stylesheet" href="/assets/css/style.min.css" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    </head>
    <body id="home">

      <!-- Vue moved to beginning to hide data-binding brackets until page is loaded -->
      <script type="text/javascript" src="assets/js/vue.min.js"></script>
      
      <div id="app">
        
        <nav class="nav">
          <a data-scroll href="#home" class="brand-img nav-left">
            <img src="assets/img/pdxfun_logo.png" />
          </a>
          <div class="nav-right">
            <a data-scroll href="#inventory" class="nav-item">Inventory</a>
            <a data-scroll href="#about" class="nav-item">Meet Us!</a>
            <a data-scroll href="#reviews" class="nav-item">Reviews</a>
          </div>
        </nav>
        
        <section class="hero">
          <div class="homepage-hero-module parallax" data-rellax-speed="3">
            <div class="video-container">
              <div class="filter"></div>
              <video autoplay loop class="fillWidth" poster="assets/img/Coverr-flowers.jpg">
                <source src="assets/img/Coverr-flowers.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="assets/img/Coverr-flowers.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
            </div>
          </div>
          <div class="hero-content parallax" data-rellax-speed="-2">
            <h1 class="title">
              Party Rentals with Flair!
            </h1>
            <h3 class="subtitle">
              Sign up for Inventory alerts and Top Secret Promotions!
            </h3>
            <form class="cta" action="mailto:Kathryn.@pdxfun.me" method="post" enctype="text/plain">
              <input type="email" name="" placeholder="Enter Your Email Address" class="cta-email" />
              <input type="submit" value="Invite Me!" class="cta-submit is-primary"/>
            </form>
          </div>
        </section>
        
        <section id="inventory">
          <img src="assets/img/blue_sky.jpg" class="inventory-bg parallax" data-rellax-speed="2"></img>
          <div class="section-head left-slide">
            <h1>Rent Awesome Stuff! - Coming in July 2017!</h1>
            <h2>All rentals are four (4) hours except by special arrangement. Contact us directly to reserve items for our multi discount!</h2>
          </div>
          <div class="inventory-content">
            <div class="item inflate" v-for="category in inventory">
              <figure>
                <img :src="category.src" />
                <figcaption>
                  <p v-html="category.description"></p>
                </figcaption>
              </figure>
              <h4 v-cloak>{{ category.title }}</h4>
              <a :href="category.link" target="_blank"><button class="item-button is-primary modal-open" :name="category.name" :onclick="category.function" v-cloak>{{ category.button }}</button></a>
            </div>
          </div>
        </section>
        
        <section id="about">
          <div class="section-head left-slide">
            <h1>About PDX Fun</h1>
            <h2>A locally-owned and family-operated with a focus on fun!</h2>
          </div>
          <div class="centered top-slide fam">
            <img src="assets/img/fam.jpg" alt="Picture of PDX Fun's Owner, Kathryn, and her family."  />
          </div>
          <div class="about-content bottom-slide">
            <h4>
    						Welcome! I ran a nationally roaming event production company for over 10 years, building massive campaigns and art happenings from scratch with my talented team.
                In 2016, I decided to launch an earthquake preparedness company. I came up with a structure and plan, and got ready to roll it out…and then the election hit, 
                and everyone was immersed in negativity seemingly all of the time, and disaster prep didn't feel like the right fit. So I decided, instead, to make whimsical
                never-before-seen party rental items with my amazing network of artists and creative vendors from around the world. This seems like a way better plan.
                We look forward to working with you, and to continuously improving upon our inventory.<br>
                <em>Play Nice and Have a blast! From our family to yours,</em><br><br>
                <em>-Kathryn, Max and Benjamin</em>
    				</h4>
          </div>
        </section>
        
        
        
        <section id="reviews">
          <div class="section-head left-slide">
            <h1>Want to know how cool we are?</h1>
            <h2>See what Portland locals have to say</h2>
          </div>
          <div class="reviews-content">
            <div class="review" v-for="review in reviews">
              <img :src="review.src" class="top-slide spin" />
              <h4 class="bottom-slide" v-cloak>{{ review.name }}</h4>
              <p class="bottom-slide" v-cloak>{{ review.review }}</p>
            </div>
          </div>
        </section>
        
        
        
        <section id="footer" class="footer">
          <hr>
          <div class="pre-footer">
            <a href="assets/docs/FAQs_and_Legalese-PDXFUN.pdf" target="_blank">FAQ & Legalese</a>
            <p>Want to partner up? Email me at <a href="mailto:Kathryn.@pdxfun.me?Subject=Lets%20Talk%20Business" target="_top">Kathryn.@pdxfun.me</a></p>
          </div>
          <hr>
          <p>&copy; PDX Fun <span id="copy"></span></p>
          <hr>
        </section>

        <modal v-cloak></modal>
      </div>
      
      <script type="text/javascript" src="assets/js/rellax.min.js"></script>
      <script type="text/javascript" src="assets/js/index.js"></script>
      <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
      <script type="text/javascript" src="assets/js/smooth-scroll.min.js"></script>
      <script type="text/javascript" src="assets/js/scripts.min.js"></script>
    </body>
</html>