/************ GLOBALS ************/
*{
    font-family: 'Russo One', sans-serif;
}

.is-primary{
    color: #5bc0de;
}

button.is-primary{
    background-color: #5bc0de;
}

.is-secondary{
    color: #fec28e;
}

a{
    text-decoration: none;
}

input{
    font-family: inherit;
}

/** Navigation **/

.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fec28e;
    padding: 8px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-left{
    
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-item{
    margin-left: 15px;
    padding: 10px;
    font-size: 1.4em;
    color: white;
    transition: color 0.1s ease-in;
    
}

.nav-item:hover{
    color: black;
    transition: color 0.1s ease-in;
}

.brand-img img{
    height: 60px;
}

nav div{
    background-color: #fec28e;
}

/** Hero **/

.hero{
    margin-top: 80px;
    background-image: url(../img/balloons.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    /*  position: fixed;  */
}

.hero-content{
    top: 20%;
    left: 8%;
    position: absolute;
    z-index: 2;
}

h1.title{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 45px;
}

h3.subtitle{
    color: #95a5a6;
    text-shadow: 1px 1px 1px black;
    font-size: 24px;
}

.cta-email{
    padding-left: 12px;
    height: 42px;
    width: 280px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cccccc;
    box-shadow:inset 0 0 3px 2px #888;
    background: #fff;
    transition: border-color ease-in-out 0.15s;
}

.cta-email:focus{
    border: 1px solid #5bc0de;
    transition: border-color ease-in-out 0.15s;
}

.cta-submit{
    height: 46px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    margin-left: -5px;
    background-color: #5bc0de;
    transition: box-shadow ease-in-out 0.15s;
}

.cta-submit:hover{
    box-shadow:inset 0 0 3px 2px #888;
    transition: box-shadow ease-in-out 0.15s;
}

.cta-submit:focus{
    background-color:#39b3d7;
}

/** Inventory **/

.inventory-content{
    display: flex;
    justify-content: space-around;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.item img{
    width: 180px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px black;
}